<!-- views/partials/footer.ejs -->
<footer>
    <div class="footer-navigation">
        <div class="about-list">
            <h3>COMPANY</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/location">Location</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="service-list">
            <h3>SERVICES</h3>
            <ul>
                <li><a href="/services#repairs">Automotive Maintence</a></li>
                <li><a href="/services#denting">Automotive Denting</a></li>
                <li><a href="/services#oil-change">Automotive Oil Change</a></li>
                <li><a href="/services#accessories">Auto Accessories Fitting</a></li>
                <li><a href="/services#paintings">Automotive Painting</a></li>
            </ul>
        </div>
        <div class="service-list-2">
            <ul>
                <li><a href="/services#polishing">Car Polishing</a></li>
                <li><a href="/services#auto-wash">Automotive Wash</a></li>
                <li><a href="/services#car-shed">Outdoor Car Shed Services</a></li>
            </ul>
        </div>
        <div class="contact-list">
            <h3>CONTACT</h3>
            <ul>
                <li>Phone Number:<br>+3029-39 239-2392-933</li>
                <li>Email:<br>@SPODISODIPod@gmail.com</li>
                <li>WhatsApp:<br>+34-9-4 943093493</li>
            </ul>
        </div>
    </div>
    <div class="footer-trademark">
        <ul>
            <li><a href="">Privacy</a></li>            
            <li><a href="">Cookies</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li>© Big Boss Reload Garage 2025</li>
        </ul>
    </div>
</footer>