<!-- views/partials/head.ejs -->
 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">                                                              <!-- charset is an attribute that sets what kind of characters will be used in the website. -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">              <!-- viewport is an attribute specifies how the website will react to a certain device -->
        <link rel="stylesheet" href="views\src\sass\main.css">
        <script src="/js/main.js" defer></script>                                           <!-- This links to a certain css file that acts as the style of the website. -->

        <title>Big Boss Reload Garage</title>
    </head>
