<!-- views/partials/navigation.ejs -->
 
<!-- This is where we add the navigation-->

<header class="navigation-bar">
    <div class="business-logo">
        <a href = "/"><img src="../assets/Logo.png"></a>
    </div>
    <div class="contact-info">
        CALL US! +3029-39 239-2392-933 | EMAIL: @SPODISODIPod@gmail.com | WhatsApp: +34-9-4 943093493
    </div>
    <nav class="primary-navigation">
        <ul class="secondary-navigation">
            <!--about page-->
            <li><a href="">ABOUT</a></li>

            <!--services page-->
            <li><a href="">SERVICES</a></li>

            <!--location page-->
            <li><a href="">LOCATION</a></li>

            <!--contact page-->
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
</header>
