<!-- views/partials/navigation.ejs -->
 
<!-- This is where we add the navigation-->

<div class = "navigation-bar">
    <img src = "../assets/Logo.png">

    <!--about page-->
    <a href = ""></a> 

    <!--services page-->
    <a href = ""></a>

    <!--location page-->
    <a href = ""></a>

    <!--contact page-->
    <a href = ""></a>
</div>
