<!-- views/partials/navigation.ejs -->
 
<!-- This is where we add the navigation-->

<div class = "navigation-bar">
    <img src = "../assets/Logo.png" height = "120" width = "120">

    <!--about page-->
    <a href = "">ABOUT</a> 

    <!--services page-->
    <a href = "">SERVICES</a>

    <!--location page-->
    <a href = "">LOCATION</a>

    <!--contact page-->
    <a href = "">CONTACT</a>
</div>
