<!-- views/partials/navigation.ejs -->
 
<!-- This is where we add the navigation-->

<header class = "navigation-bar">
    <div class = "business-logo">
        <img src = "../assets/Logo.png">
    </div>
    <div class = "contact-info">

    </div>
    <nav class="primary-navigation">
        <ul class="secondary-navigation">
            <!--about page-->
            <li><a href = "">ABOUT</a></li>

            <!--services page-->
            <li><a href = "">SERVICES</a></li>

            <!--location page-->
            <li><a href = "">LOCATION</a></li>

            <!--contact page-->
            <li><a href = "">CONTACT</a></li>
        </ul>
    </div>
</div>
