// Fonts
$OverpassFont: "Overpass", sans-serif;          // Overpass extra bold for button text
                                                // Overpass regular for body text
$PontanoSansFont: "Pontano Sans", sans-serif;   // Pontano Sans bold for heading text for sections
$SourceCodeFont: "Source Code Pro", monospace;  // Source Code Pro regular for navigation text and footer text