@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/functions";
@import "../abstracts/placeholder";
@import "../base/typography";

footer {
    width: 100%;
    height: fit-content;
}

.footer-navigation {
    display: flex;
    overflow: hidden;
    padding: 50px 6% 50px;

    color: $primary-white;
    background-color: $primary-red;
    
    .about-list, .service-list, .service-list-2, .contact-list {
        display: table-cells;
        width: 25%;
        padding: 0 3%;

        ul {font-family: $SourceCodeFont;}

        li {
            list-style: none;
            margin-top: 20px;
        }
        
        a {
            color: $primary-white;
            text-decoration: none;
        }
    }

    .service-list-2 {
        margin-top: 60px;
    }
}

.footer-trademark {
    padding: 20px 12%;
    margin: auto;
    background-color: $primary-blue;
    text-align: center;

    ul {
        font-family: $PontanoSansFont;
        display: flex;
        justify-content: space-between;
        float: none;
        overflow: hidden;
        
        a, li {
            color: $primary-white;
            text-decoration: none;
            list-style: none;
        }
    }
}