@import "../abstracts/variables";

@mixin backgroundimage ($urlofimage) { 
    background-image: url($urlofimage);
    background-color: $primary-red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}