@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/functions";
@import "../abstracts/placeholder";

body {
    background-color: $primary-red;
}

.indexpage {
    grid-template-areas:
    "intro"
    "about"
    "googlemaps"
    "services"
    "testimonials";
    grid-template-rows: repeat(5,auto);
}

.intro {
    grid-area: intro;
}

.about {
    grid-area: about;

}

.googlemaps {
    grid-area: googlemaps;

}

.services {
    grid-area: services;

}

.testimonials {
    grid-area: testimonials;

}