@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/functions";
@import "../abstracts/placeholder";
@import "../base/typography";


.services-header-notification {
    height: 40px;
    padding: 10px 0px;
    color: $primary-white;
    text-align: center;
    align-content: center;
    font-family: $OverpassFont;
    a {
        color: white;
    }
}

.hero-image {
    padding: 250px;
    color: $primary-white;
    text-align: center;

    @include backgroundimage("../../../assets/services-and-prices-banner.png");
}

.service-grid-sample {
    display: grid;
    margin: 25px 50px 25px 50px;
    grid: [row1-start] "IMG IMG" 0.9fr [row1-end]
          [row2-start] "DES FET" 1fr [row2-end]
          / 1fr 1.2fr; 

    background-color: $primary-white;
}

.service-image {
    grid-area: IMG;
    background-color: gray;
}

.service-desc {
    grid-area: DES;
    padding-left: 50px;

    h1 {
        margin-bottom: 10px;
    }
}

.service-features-box {
    grid-area: FET;
    position: relative;

    padding-left: 40px;
    margin: 20px 50px;
    border-radius: 15px;

    background-color: lightgray;

    ul {
        font-size: large;
        margin: 0 40px;
        columns: 12rem;  
        column-gap: 4rem;  
    }
}

.service-price {
    position: absolute;
    bottom: 20px;
    right: 30px;

    color: #15781a;
    
    font-weight: 600;
    font-size: 3vh;
}