@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/functions";
@import "../abstracts/placeholder";
@import "../base/typography";


.services-header-notification {
    height: 40px;
    padding: 10px 0px;
    color: $primary-white;
    text-align: center;
    align-content: center;
    font-family: $OverpassFont;
    a {
        color: white;
    }
}

.hero-image {
    padding: 250px;
    color: $primary-white;
    text-align: center;

    @include backgroundimage("../../../assets/services-and-prices-banner.png");
}

.services-area {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.service-grid-sample {
    display: grid;
    margin: 25px 100px 25px 100px;
    grid: [row1-start] "IMG" 0.9fr [row1-end]
          [row2-start] "DES" 1fr [row2-end]; 

    background-color: $primary-white;
}

.service-image {
    grid-area: IMG;
}

#repairs { 
    .service-image {
        @include backgroundimage("../../../assets/services-repairs.jpg");
    }
}

#exhaust-repair { 
    .service-image {
        @include backgroundimage("../../../assets/services-exhaust-repair.jpg");
    }
}

#oil-change { 
.service-image {
        @include backgroundimage("../../../assets/services-oilchange.jpg");
    }
}

#accessories {
    .service-image {
        @include backgroundimage("../../../assets/services-accessories.jpg");
    }
}

#paintings {
    .service-image {
        @include backgroundimage("../../../assets/services-painting.jpg");
    }
}

#seat-clean {
    .service-image {
        @include backgroundimage("../../../assets/services-seat-cleaning.jpg");
    }
}

#polishing {
    .service-image {
        @include backgroundimage("../../../assets/services-idk.jpg");
    }
}

#denting {
    .service-image {
        @include backgroundimage("../../../assets/services-denting.png");
    }
}

#car-shed {
        .service-image {
        @include backgroundimage("../../../assets/services-outdoor-shed.jpg");
    }
}


.service-desc {
    grid-area: DES;
    padding-left: 30px;
    padding-right: 30px;

    h1 {
        margin-bottom: 10px;
    }
}

#repairs, #oil-change, #paintings, #exhaust-repair, #car-shed {
    margin: 25px 50px 25px 100px;
}

#denting, #accessories, #polishing, #seat-clean {
    margin: 25px 100px 25px 50px;
}

// .service-features-box {
//     grid-area: FET;
//     position: relative;

//     padding-left: 40px;
//     margin: 20px 50px;
//     border-radius: 15px;

//     background-color: lightgray;
//     display: none;

//     ul {
//         font-size: large;
//         margin: 0 40px;
//         columns: 12rem;  
//         column-gap: 4rem;  
//     }
// }

// .service-price {
//     position: absolute;
//     bottom: 20px;
//     right: 30px;

//     color: #15781a;
    
//     font-weight: 600;
//     font-size: 3vh;
// }