<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            <div class="about-hero-image">
                <div class="about-hero-content">
                    <h1>
                        <mark>
                            BIG BOSS RELOAD GARAGE
                        </mark>
                    </h1>
                    <h2>
                        <mark>
                            We ensure our customers' safety and satisfaction through our high-quality service
                        </mark>
                    </h2>
                </div>
            </div>
            
            <div class="about-content">
                <h3>Our Mission</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h3>Our Vision</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>