<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            <div class="about-hero-image">
                <div class="about-hero-content">
                    <h1>
                        BIG BOSS RELOAD GARAGE
                    </h1>
                    <h2>
                        Safe on the road, safe for life.
                    </h2>
                </div>
            </div>
            
            <div class="about-content">
                <h3>Our Vision</h3>
                <p>
                    Big Boss Reload Garage is here to provide dependable and high-quality services to our customers to ensure the livelihoods of their
                    vehicles and most importantly, themselves. UAE is nothing short of automatives, as the main mode of transport
                    is heavily reliant on cars. It's the sole connection to the city, the self and your neighborhoods. Therefore, it is imperative
                    we maintain our connections, and here is where automative garages come into light. Although don't get us wrong, we're not just any pinoy
                    orientated garage, we are THE pinoy orientated garage.
                </p>

                <h3>Our Mission</h3>
                <p>
                    We aim to establish a commendable reputation through our satisfactory customer experience. As we are an OFW based company,
                    we look to build trust with our native community and also broaden our horizons to welcome a variety of customers. Our 
                    multi-ethnic, hearty team of painters, mechanics and engineers dedicate themselves to not only understand
                    your cars and needs but also you, the customer.
                </p>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>