<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body class="contact-background">
        <%- include('../partials/navigation.ejs'); %>
        <main>

            <div class="contact-grid">

                <div class="contact-form">
                    <h1>Get In Touch!</h1>

                    <form id="contacts-form action="@SPODISODIPod@gmail.com"
                    method="POST">
                        <div class="input-name">
                            <label for="name">Full name:</label>
                            <br>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="input-email">
                            <label for="email">Email:</label>
                            <br>
                            <input type="email" id="name" name="name" required>
                        </div>
                        <div class="input-message">
                            <label for="emailmessage">Email Message:</label>
                            <br>
                            <textarea id="message" name="message" rows="4" cols="50" required></textarea>
                        </div>
                        <br>
                        <div class="submit-button">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="whatsapp-container">
                    <div class="QR-code"></div>
                    <p class="bottom-text">WhatsApp QR Code</p>
                </div>

                <div class="contact-details">
                    <h2>Other ways to contact us:</h2>
                    <ul>
                        <li>Phone No: +3029-39 239-2392-933</li>
                        <li>Email: @SPODISODIPod@gmail.com</li>
                        <li>WhatsApp: +34-9-4 943093493</li>
                    </ul>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>