<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body class="contact-background">
        <%- include('../partials/navigation.ejs'); %>
        <main>

            <div class="contact-grid">

                <div class="contact-form">
                    <h1>Get In Touch!</h1>

                    <form id="contacts-form action="bigbossgarage2024@gmail.com">
                        <div class="input-name">
                            <label for="name">Full name:</label>
                            <br>
                            <input type="text" id="signature" name="signature" required>
                        </div>
                        <div class="input-subject">
                            <label for="subject">Subject:</label>
                            <br>
                            <input type="text" id="subject" name="subject" required>
                        </div>
                        <div class="input-message">
                            <label for="emailmessage">Email Message:</label>
                            <br>
                            <textarea id="message" name="message" rows="4" cols="50" required></textarea>
                        </div>
                        <br>
                        <div class="submit-button">
                            <button type="submit" href="javasctipt:void(0)" onclick="javascript:sendEmail()">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class = "qr-codes-container">
                    <div class="whatsapp-container">
                        <div class="QR-code"></div>
                        <p class="bottom-text">WhatsApp QR Code</p>
                    </div>

                    <div class="location-container">
                        <div class="QR-code2"></div>
                        <p class="bottom-text">Location QR Code</p>
                    </div>
                </div>

                <div class="contact-details">
                    <h2>Other ways to contact us:</h2>
                    <ul>
                        <li>Phone No: +052 644 8218</li>
                        <li>Email: bigbossgarage2024@gmail.com</li>
                        <li>WhatsApp: +971 52 644 8218</li>
                    </ul>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
        
        <script src="../public/script.js"></script>
    </body>
</html>