<!--
The use of '.ejs' file

ejs files or embedded javascript files allows for the use of dynamic content by embedding JavaScript within HTML.
-->

<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main class = "indexpage">
            <!-- main is used to write unique content for the page -->

            <div class = "intro">
                <h1>YOUR ONE STOP TO MECHANICAL EXPERTISE</h1>
                <h3>With over seven years of experience, we understand your car the biggest and bossiest way.</h3>
            </div>

            <div class = "about">
                <div class = "about1">
                    <!-- <img src = "../assets/"> -->
                </div>

                <div class = "about2">
                    <h2>PINOY TRUSTED CAR MAINTENANCE AND VEHICLE REPAIR</h2>
                    <p>With our earnest services and tenacious work ethic, we strive to bring you and your car the highest, 
                        most genuine quality parts with the sturdiest prices.

                        And to those looking for a transparent, pinoy-eccentric communication, 
                        look no further than Big Boss Garage.</p>
                    <a href = "/contact" class = "button blue">BOOK NOW</a>
                </div>
            </div>

            <div class = "googlemaps">
                <a href = "" class = "button yellow">VIEW LOCATION AND TIMINGS</a>
            </div>

            <div class = "services">
                <a href = "" class = "button red">VIEW ALL SERVICES</a>
            </div>

            <div class = "testimonials">
            </div>
            
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>