<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            <div class="location-hero-image">
                <div class="location-hero-timings">
                    <div class="timing-title"> <h1>TIMINGS</h1> </div>
                    <div class="timing-date-1">Mondays - Saturdays</div>
                    <div class="timing-hour-1">8:30am - 8:00pm</div>
                    <div class="timing-date-2">Sunday</div>
                    <div class="timing-hour-2">CLOSED</div>
                </div>
            </div>
            
            <div class="google-map">
                <h1>INSERT GOOGLE MAP API HERE</h1>
                <!-- insert api here-->
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>