<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            <div class="location-hero-image">
                <div class="location-hero-timings">
                    <div class="timing-title"> <h1>TIMINGS</h1> </div>
                    <div class="timing-date-1">Mondays - Saturdays</div>
                    <div class="timing-hour-1">8:30am - 8:00pm</div>
                    <div class="timing-date-2">Sunday</div>
                    <div class="timing-hour-2">CLOSED</div>
                </div>
            </div>
            
            <div class="google-map">
                <div class="google-map-description">
                    <h1>Want to know where we are?</h1>
                    <a href="https://www.google.com/maps/place/25%C2%B015'58.7%22N+55%C2%B020'07.7%22E/@25.2662815,55.3331951,17.4z/data=!4m4!3m3!8m2!3d25.26631!4d55.335457?entry=ttu&g_ep=EgoyMDI1MDQzMC4xIKXMDSoASAFQAw%3D%3D">
                        <div class="button">Click here!</div>
                    </a>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>