<!-- Delete this after we are done with other pages -->

<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>