<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            <div class="intro">
                <h1>PARTS AND SERVICES</h1>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>