<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            <div class="hero-image">
                <h1>PARTS AND SERVICES</h1>
            </div>
            
            <div class="service-grid-sample">
                <div class="service-image">
                    <img src="">
                </div>
                <div class="service-desc">
                    <h1>Automotive Maintenance & General Repairs</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore 
                        magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip ex ea 
                        commodo consequat. Duis aute irure dolor in 
                        reprehenderit in voluptate velit esse cillum dolore eu.
                    </p>
                </div>
                <div class="service-features-box">
                    <h2>FEATURES:</h2>
                    <ul>
                        <li>360 - Degree Health Check</li>
                        <li>All Fluids Top-Up</li>
                        <li>Brake Check</li>
                        <li>AC Check</li>
                        <li>And more</li>
                    </ul>
                    <div class="service-price">
                        299 AED
                    </div>
                </div>
            </div>
            
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>