<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            <div class="services-header-notification">
                For prices on car parts refer to our Facebook page on <a href="https://www.facebook.com/DoctorCarsUAE">https://www.facebook.com/DoctorCarsUAE!</a>
            </div>
            <div class="hero-image">
                <h1>SERVICES AND PRICES</h1>
            </div>

            <div class = "services-area">
                <div class="service-grid-sample" id="repairs">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Maintenance 
                            <br>& General Repairs</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="denting">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Denting</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="oil-change">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Oil Change</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="accessories">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Accessory Fitting</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="paintings">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Painting</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="polishing">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Car Polishing</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="exhaust-repair">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Automative Exhaust Repairing</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="seat-clean">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Automative Seats Cleaning</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="car-shed">
                    <div class="service-image">
                        <img src="">
                    </div>
                    <div class="service-desc">
                        <h1>Outdoor Temporary Car Shed Services</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea 
                            commodo consequat. Duis aute irure dolor in 
                            reprehenderit in voluptate velit esse cillum dolore eu.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>