<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/navigation.ejs'); %>
        <main>
            <div class="services-header-notification">
                For prices on car parts refer to our Facebook page on <a href="https://www.facebook.com/DoctorCarsUAE">https://www.facebook.com/DoctorCarsUAE!</a>
            </div>
            <div class="hero-image">
                <h1>SERVICES AND PRICES</h1>
            </div>

            <div class = "services-area">
                <div class="service-grid-sample" id="repairs">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Maintenance 
                            <br>& General Repairs</h1>
                        <p>
                            Does your car need a check-up? Is it working as intended? We offer consultations 
                            on a wide collection of automative types, so feel free to enquire about our
                            rigourous maintenance and repair systems to look into your car, starting today!
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="denting">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Denting</h1>
                        <p>
                            Got an unsightly shape messing your car's jib? Bad parking?
                            A victim to terrible roadside manners? Had a little accident?
                            No problem, we got your back and your dents.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="oil-change">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Oil Change</h1>
                        <p>
                            We wouldn't be a complete garage without our vital safety inspections; for your
                            fluids, brake pads, cabin filters and oil filters. We take extra care to check the 
                            oil levels of your car and flush your engine if need be.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="accessories">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Accessory Fitting</h1>
                        <p>
                            In collaboration with Whetzkie Bodykits and Accessories, our selection of japanese car parts and 
                            additional accessories are readily available for you and with our expertise, we'd set it up quickly.
                            Grant yourself the freedom of choice to customize, repair existing parts. From Honda Civics
                            to Mitsubishis, give us a ring and we'll happily be with you every step of the way.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="paintings">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Automotive Painting</h1>
                        <p>
                            Ever wanted to give your car a new shade of paint? 
                            Big Boss Garage Reload offers a wide variety of paints 
                            from your classic onyx black to a more alluring crimson red. 
                            We got you covered with our precise paintwork and adaptable team, 
                            we can assure you that your vehicle will look as good as brand new.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="polishing">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Car Polishing</h1>
                        <p>
                            Restore that shine with our polishing services. 
                            We employ advanced techniques to eliminate any imperfections that may be found 
                            in your car’s exterior, making sure that your car will be returned to you, 
                            looking fresh and shiny.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="exhaust-repair">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Automative Exhaust Repairing</h1>
                        <p>
                            Need new components for your exhaust? We cover a variety of parts from your exhaust manifold,
                            catalytic converter, muffler, resonator and more. We also offer repairs if your
                            exhaust is not working as intended. Keep your car safe, clean and noiseless.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="seat-clean">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Automative Seats Cleaning</h1>
                        <p>
                            With our convenient yet affordable washing services, 
                            our team will make sure that your car receives top notch care. 
                            We are excellent at being as thorough as possible, removing any and 
                            all traces of dirt and grime using our effective methodologies.
                        </p>
                    </div>
                </div>

                <div class="service-grid-sample" id="car-shed">
                    <div class="service-image">
                    </div>
                    <div class="service-desc">
                        <h1>Outdoor Temporary Car Shed Services</h1>
                        <p>
                            Running out of space in your garage? Worried that the elements outside will damage your car? 
                            Don’t you worry, we provide an excellent indoor storage that is designed to safeguard your 
                            vehicles contents and keep it in pristine condition. Just state your arrival time,
                            model of car, and leave the rest to us.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>